<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

  
  </head>
  <body>
    <div class="container">
     <div class="row">

    <form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Nombres</label>
    <input type="text" class="form-control" id="validationCustom01" value="Francisco" required>
    <div class="valid-feedback">
      
    </div>
   </div>
   <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Apellidos</label>
    <input type="text" class="form-control" id="validationCustom02" value="Ramirez" required>
    <div class="valid-feedback">
      
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Correo</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        
      </div>
    </div>
  </div>
   <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Numero telefono movil</label>
    <input type="text" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">Tipo de identificacion</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
      <option>Ceduladeciudadania</option>
       <option>Pasaporte</option> 
        <option>CedulaExtrajera</option>
    </select>
    <div class="invalid-feedback">
      
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Numero de identificacion</label>
    <input type="text" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      
    </div>
  </div>
  <div class="col-12">
    
      <div class="invalid-feedback">
       
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Agregar cliente</button>
  </div>
</form>
   </div>
</div>
    
    <script src="../../static/js/bootstrap.bundle.min.js"></script>

   
  </body>
</html>


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

  
  </head>
  <body>
    <div class="container">
     <div class="row">

    <form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Nombres</label>
    <input type="text" class="form-control" id="validationCustom01" value="Francisco" required>
    <div class="valid-feedback">
      
    </div>
   </div>
   <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Apellidos</label>
    <input type="text" class="form-control" id="validationCustom02" value="Ramirez" required>
    <div class="valid-feedback">
      
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Correo</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        
      </div>
    </div>
  </div>
   <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Numero telefono movil</label>
    <input type="text" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">Tipo de identificacion</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
      <option>Ceduladeciudadania</option>
       <option>Pasaporte</option> 
        <option>CedulaExtrajera</option>
    </select>
    <div class="invalid-feedback">
      
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Numero de identificacion</label>
    <input type="text" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      
    </div>
  </div>
  <div class="col-12">
    
      <div class="invalid-feedback">
       
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Agregar cliente</button>
  </div>
</form>
   </div>
</div>
    
    <script src="../../static/js/bootstrap.bundle.min.js"></script>

   
  </body>
</html>


